* {
    padding: 0;
    margin: 0;
    list-style: none;
    box-sizing: border-box;

}

body{
    width: 100%;
    /* background-color: #f6f6f6; */
    background-color: #ccecec;
    
}

.oka{
    background-color:rgba(131, 218, 219, 0.5);
    width: 200px;
    height: 40px;
    margin: auto;
    cursor: pointer;
    border: 1px solid rgb(19, 216, 219);
    border-radius: 20px;
    justify-content: center;
    padding: 6px;
    display: flex;
    font-family: 'Times New Roman', Times, serif;
    box-shadow: 3px 4px 0px rgb(73, 73, 73);
}

.oka:hover {
    background-color: #d8eef1;
    font-style: italic;
    box-shadow: 0 0 0;

}
.message1_input {
    display: none;
}
.message_content{  
    padding-top: 20px;
    width: 400px;
    height: 320px;
    border: solid 2px rgba(255, 255, 255, 0.5);
    /* box-shadow: 0px 0px 10px rgb(255, 255, 255); */
    background-color: rgba(255, 255, 255, 0.8);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    /* letter-spacing: 1px;   */
}


.message{
    display: none;
}
.message1{
    display: flex;
    position: fixed;
    z-index: 100;
    background: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5));
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    /* border: 1px solid black; */
    /* border-radius: 10px; */
}
.message_content img{
    width: 80px;
    margin: 10px;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px;
    transition: linear 0.5s;

}
.message_content img:hover:nth-of-type(1){
    box-shadow: 0px 0px 10px rgb(220, 122, 25);
}
.message_content img:hover:nth-of-type(2){
    box-shadow: 0px 0px 10px rgb(57, 190, 211);
}
.message_content img:hover:nth-of-type(3){
    box-shadow: 0px 0px 10px rgb(226, 233, 25);
}
.message_content img:nth-of-type(1){
    background-color: rgb(220, 122, 25);
}
.message_content img:nth-of-type(2){
    background-color: rgb(57, 190, 211);
}
.message_content img:nth-of-type(3){
    background-color: rgb(226, 233, 25);
}
h2{
    /* color: #ffffff; */
    /* color: #200400; */
    color: #0b097c;
   
}

p{
    color: #200400;
}

@font-face {
    font-family: ralereg;
    src: url('fuentes/Raleway-Regular.ttf');
}

@font-face {
    font-family: bellezareg;
    src: url('fuentes/Belleza-Regular.ttf');
}

@font-face {
    font-family: rudareg;
    src: url('fuentes/Ruda-Regular.ttf');
}

@font-face {
    font-family: nunitoreg;
    src: url('fuentes/Nunito-Regular.ttf');
}

@font-face {
    font-family: monsereg;
    src: url('fuentes/Montserrat-Regular.ttf');
}

@font-face {
    font-family: latoreg;
    src: url('fuentes/Lato-Regular.ttf');
}

nav {
    /* background:rgba(39, 195, 203,0.8); */
    background:rgba(255, 255, 255, 0.6);
    box-shadow: 0px 4px 10px rgba(1, 1, 1, 0.3);
    width: 100%;
    display: flex;
    justify-content: space-between; /*ubica las cajas del nav separadas de punta a punta!!!!*/
    align-items: center;
    position: fixed;
    z-index: 50;
    /* box-shadow: 0 0 5px; */
}

nav.abajo{
    background:rgba(255, 255, 255, 0.9);

}
.abajo .logo{
    width: 108px;
    transition: linear 0.3s;

}

nav .menu{
    display: none;
    z-index: 10;
    margin: 30px 30px 30px 30px;
    /* width: 40px; */
    /* height: 60px;  */
    padding: 10px;
    border-radius: 10px;
    /* background-color:rgb(85, 197, 246, 0.8);    */
    /* background-color: rgba(166, 209, 209, 0.6); */
    /* box-shadow: 0px 0px 4px black;     */
    /* background: rgba(166, 209, 209, 0.6)  url('./imagenes/icons8-menú-redondeado-50.png'); */
}

/* .close{
    background: rgba(166, 209, 209,0.6) url("./imagenes/close.png");
    display: flex;
    margin: 30px 60px 30px 30px;
    width: 60px;
    padding: 22px;
    border-radius: 15px;
    
} */

.nav_input{
    display: none;
    
}

.logo {
    width: 120px;
    margin-left: 50px;
    
}

nav .items ul {
    margin: 0 6px 0 0;
    align-items: center;
    
}
nav .items ul li {
    display: inline-block;
    position: relative;

}
nav .items ul li::before{
    content: "";
    width: 0%;
    height: 1.5px;
    background-color:#0b097c;
    border-radius: 2px;
    position: absolute;
    bottom: -10px;
    transition: 0.5s linear;

}
nav .items ul li:hover::before{
    width: 100% ;
}
nav .items ul li a{
    font-weight: bold;
    color: #200400;
    /* color: #0b097c; */

    /* color: #ebf7f7e2; */
    text-transform: uppercase;
    font-family: nunitoreg;
    font-size:15px;
    /* text-shadow: 0px 0px 5px #cbcfcf; */
    padding: 20px;
    text-align: center;
    align-items: center;
    transition: linear 0.5s;
    text-decoration: none;
}

nav .items li a:hover{
    /* color: rgb(68, 213, 220); */
    
    color: rgb(200, 239, 238);
    transform: scale(1.1);
}
.imagen-fondo{
    background: linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1)), url("imagenes/smile2-min.jpg") no-repeat;
    /* background: url("imagenes/smile2.png") no-repeat; */
    background-size:cover;
    background-position: calc(70%);
    float: right;
    height: 700px;
    width:100%;
    
}
.container-fondo {
    /* background: url("imagenes/dentist-with-smile.jpg") no-repeat; */
    overflow: hidden;
    height: 500px;
    box-shadow: 0px 0px 15px rgb(164, 170, 170);
    transition: 0.5s;
    background-color: white;
    margin:0;
    padding: 0;
    
}

.texto-principal {
    margin: 20% 1% 10% 1% ;
  
}
.texto-principal span{ 
    font-size: 57px;
    font-family: nunitoreg;
    /* color: #0b097c; */
    color: #200400;
    font-weight: 600;
    
}

/* .texto-principal p {
    width: 700px;
    font-size: 20px;
    font-family: monsereg;  
    font-weight: bold;
    padding-top: 30px;
    margin: 0;

} */


/* .animate__animated.animate__fadeIn{
    animation-delay: 2s;
} */
span.animate__animated.animate__fadeIn:nth-child(1){
    animation-delay: 0.5s;
    margin-right: 490px;
}
span.animate__animated.animate__fadeIn:nth-child(2){
    animation-delay: 1.3s;
}
span.animate__animated.animate__fadeIn:nth-child(3){
    animation-delay: 1.3s;
}
/* p.animate__animated.animate__fadeIn:nth-child(4){
    animation-delay: 1s;
} */
.quienessomos{
    width: 100%;
    margin: auto;
    text-align: center;
    /* position: relative; */
    /* padding-top: 20px; */
}


.sticky {
    background: url("imagenes/flecha2.png") no-repeat;
    background-position: center;
    background-size: cover;
    background-color: #a2e2e2;
    border-radius: 3px;
    box-shadow: 0 0 3px #07d6f6;
    margin-left: 85%;
    position: fixed;
    margin: 40px;
    bottom: 0;
    right: 0;
    width: 40px;
    height: 40px;
    z-index: 60;
}
.sticky:hover{
    box-shadow: 0 0 3px #000000;

}

.somosDentalCare h2 {
    text-transform: uppercase;
    /* background: linear-gradient(rgba(11, 229, 185, 0.3), rgba(11, 229, 185, 0.3)); */
    /* border-top: #000000 solid 1px;
    border-bottom: #000000 solid 1px; */
    font-size: 30px;
    font-family: latoreg;
    font-weight: 600;
    /* padding-top: 40px; 
    padding-bottom: 20px; */
    padding: 5px;
    margin: 40px 0 20px 0;
}


.img-equipo {
    align-items: center;
    display: flex;
    /* opacity: 0; */
    margin-top: 2% 0%;
    /* background:rgba(27, 169, 176, 0.3); */
    
}
.img-equipo:nth-child(odd){
    margin-right: 15%;
    background: linear-gradient(to right, rgba(63, 137, 174, 0.5), transparent);

}
.img-equipo:nth-child(even){
    margin-left: 15%;
    background: linear-gradient(to left, rgba(63, 137, 174, 0.5), transparent);

}
/* .img-equipo:nth-child(3){
    margin-right: 15%;
    background: linear-gradient(to right, rgba(27, 169, 176, 0.5), transparent);

} */
/* .img-equipo:nth-child(4){
    margin-left: 15%;
    background: linear-gradient(to left, rgba(27, 169, 176, 0.5), transparent);

} */

.img-equipo img {
    width: 35%;
    box-shadow: 0px 0px 10px ;  
    margin: 30px; 
}

.texto {
    margin-left: 10%;
    text-align: left;
    margin-right: 5%;    

}
    
    
.texto p { 
    font-family: monsereg;
    font-size: 20px;
}

.pagina-2{
    text-align: center;
    width: 100%;
    
}
.pagina-2 h2 {
    text-transform: uppercase;
    font-size: 30px;
    font-family: latoreg;
    font-weight: 600;
    padding-top: 2%;
    align-items: center;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 30px;

}

.parrafo-protesis{
    font-family: ralereg;
    color: #0b097c;
    font-weight: 600;
    align-items: center;
    text-align:center;
    text-transform: uppercase;
}
.parrafo-protesis h3{
    font-size: 20px;
    padding-bottom: 20px;
}

.parrafo-protesis p{
    font-size: 15px;
    margin-bottom: 0px;
    color: #0b097c;
}
.contenedor-columnas{
    display: flex;
    flex-direction: column;
    max-width: 1000px;
    margin: auto;
}
.fila1, .fila2{
    justify-content: space-around; 
    display: flex;    
    margin-top: 30px;
}
.imagen-servicios{
    width: 250px;
    height: 220px;
    margin: 10px;
}

.imagen-servicios p{
    font-family: latoreg;
    color: #0b097c;
    font-size: 15px;
    text-align: center;
    font-weight: 600;
    padding-top: 5px;
    margin: 0;
}
.container-img{
    margin: auto;
    width: 180px;
    height: 170px;
    border-radius: 10%;
    box-shadow: 0 0 15px#165dc9;
    transition: linear 0.5s;
    position: relative;
    overflow: hidden;
}
.container-img::before{ 
    content: "";
    height: 0;
    width: 100%;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.6);
    bottom: 0;
    left: 0;
    transition: linear 0.5s;
}
.container-img:hover::before{
    height: 40%;
    content: "+info";
    padding-top: 10px;
    font-weight: 600;
    overflow: hidden;
}
.container-img:hover{
    transform: scale(1.1);
    cursor: pointer;
    margin-bottom: 10px;
} 

/* SERVICIOS FILA 1 */

.fila1 .imagen-servicios:nth-child(1) .container-img{
    background: url("iconos_servicios/sonrisa.png") no-repeat;
    background-size: cover;
    background-position: center;
    
}

.fila1 .imagen-servicios:nth-child(1) .container-img:hover{
    background: url("imagenes/BLANQ2-min.jpg") no-repeat;
    background-size: cover;
    background-position: center;
}
.fila1 .imagen-servicios:nth-child(2) .container-img{
    background: url("iconos_servicios/implantologia.png") no-repeat;
    background-size: cover;
    background-position: center;
}
.fila1 .imagen-servicios:nth-child(2) .container-img:hover{
    background: url("imagenes/implantes-min.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    cursor: pointer;
}
.fila1 .imagen-servicios:nth-child(3) .container-img{
    background: url("iconos_servicios/ortodoncia.png") no-repeat;
    background-size: cover;
    background-position: center;
}
.fila1 .imagen-servicios:nth-child(3) .container-img:hover{
    background: url("imagenes/ortodoncia2-min.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    cursor: pointer;
}

/* SERVICIOS FILA 2 */

.fila2 .imagen-servicios:nth-child(1) .container-img{
    background: url("iconos_servicios/blanqueamiento.png") no-repeat;
    background-size: cover;
    background-position: center;
}
.fila2 .imagen-servicios:nth-child(1) .container-img:hover{
    background: url("imagenes/antesdespues-min.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    cursor: pointer;
}
.fila2 .imagen-servicios:nth-child(2) .container-img{
    background: url("iconos_servicios/endodoncia.png") no-repeat;
    background-size: cover;
    background-position: center;
}
.fila2 .imagen-servicios:nth-child(2) .container-img:hover{
    background: url("imagenes/endodoncia1-min.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    cursor: pointer;
}
.fila2 .imagen-servicios:nth-child(3) .container-img{
    background: url("iconos_servicios/ortopantomografia.png") no-repeat;
    background-size: cover;
    background-position: center;
}
.fila2 .imagen-servicios:nth-child(3) .container-img:hover{
    background: url("imagenes/radiografia-dental-min.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    cursor: pointer;
}


/* -----SUCURSALES----- */
.sucursales {  
    width: 100%;
    margin: auto;
    text-align: center;
}
.sucursales h2{
    padding-top: 20px;
    margin-bottom: 30px;
    text-transform: uppercase;
    font-size: 30px;
    font-family: latoreg;
    font-weight: 600;
}

.container-all{
    position: relative;
    max-width: 1000px;
    width: 100%;
    border-radius: 6px;
    overflow: hidden;
    margin: auto;

}
.container-all img{
    max-width: 100%;

}
.slide{
    display: flex;
    transform: translate3d(0,0,0);
    transition: all 600ms;
    animation-name: autoplay;
    animation-duration: 10s;
    animation-direction: alternate;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
}

.item-slide{
    position: relative;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    flex-grow: 0;
    max-width: 100%;

}

.pagination{
    position: absolute;
    bottom: 20px;
    left: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;

}

.pagination-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid white;
    width: 16px;
    height: 16px;
    border-radius: 4px;
    overflow: hidden;
    cursor: pointer;
    background: rgba(255, 255, 255, 0.5);
    margin: 0 10px;
    text-align: center;
    transition: all 300ms;

}

.pagination-item:hover{
    transform: scale(2);
}
.pagination-item img{
    display: inline-block;
    max-width: none;
    height: 100%;
    transform: scale(1);
    opacity: 0;
    transition: all 300ms;

}
.pagination-item:hover img{
    opacity: 1;
    transform: scale(1);
}

input[id="1"]:checked ~ .slide{
    animation: none;
    transform: translate3d(0, 0, 0);

}
input[id="1"]:checked ~ .pagination .pagination-item[for="1"]{
    background: #fff;
}

input[id="2"]:checked ~ .slide{
    animation: none;
    transform: translate3d(calc(-100% * 1), 0, 0);

}
input[id="2"]:checked ~ .pagination .pagination-item[for="2"]{
    background: #fff;
}

input[id="3"]:checked ~ .slide{
    animation: none;
    transform: translate3d(calc(-100% * 2), 0, 0);

}
input[id="3"]:checked ~ .pagination .pagination-item[for="3"]{
    background: #fff;
}

input[id="4"]:checked ~ .slide{
    animation: none;
    transform: translate3d(calc(-100% * 3), 0, 0);

}
input[id="4"]:checked ~ .pagination .pagination-item[for="4"]{
    background: #fff;
}


@keyframes autoplay {
    25%{
        transform: translate3d(calc(-100% * 0), 0, 0);
    }

    50%{
        transform: translate3d(calc(-100% * 1), 0, 0);
    }
    
    75%{
        transform: translate3d(calc(-100% * 2), 0, 0);
    
    }

    100%{
        transform: translate3d(calc(-100% * 3), 0, 0);

    }
}

/* ------FIN SUCURSALES------ */

.mapa {
    width: 100%;

}

.mapa h2 {
    text-transform: uppercase;
    font-size: 30px;
    font-family: latoreg;
    color: #0b097c;
    font-weight: 600;
    margin-top: 5%;
    margin-bottom: 1%;
    align-items: center;
    text-align: center;
}
.mapa iframe {
    width: 100%;
    padding: 40px 0;

}

.slider-frame li {
    list-style: none;
    width: 100%;
}

.slider-frame img {
    width: 100%;

}


.parrafo-protesis {
    margin: 60px 10px 70px 10px;
    padding: 0 5px 0 5px;
    
}

.parrafo-protesis h3 {
    text-transform: uppercase;
    font-size: 20px;
    font-family: ralereg;
    color: #0b097c;
    font-weight: 600;
    align-items: center;
    text-align: center;
    padding-bottom: 10px;
}

 /* --------FORMULARIO-------- */

 .formulario {
    width: 100%;
}

.formulario h2 {
    text-transform: uppercase;
    font-size: 30px;
    font-family: latoreg;
    font-weight: 600;
    padding-top: 30px;
    text-align: center;    
    margin-bottom: 30px;
}

 form{
    width: 450px;
    border-top: #246d8c solid 5px;
    padding-top: 40px;
 }
 
.form_container{
    justify-content: center;
    display: flex;
    margin: auto;
}

.form_container .p{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 21px;
}

.form_container .p:nth-of-type(2),.casillas .p {
    color: red;
    font-size: smaller;
}
.casillas .p{
    padding-left: 20px;
}
.form_label{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
.form_control{
    height: 50px;
    width: 450px;
    border: solid 1px black;
    border-radius: 5px;
    margin: 10px 0 25px 0;
    padding-left: 10px;
}
.form_control:nth-of-type(3){
    height: 110px;
    
}

.input_check{
    width: 20px;
}
.check_form{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.btn_form{
    padding: 13px;
    font-size: 20px;
    border-radius: 8px;
    border: #33b0ac solid 1px;
    background-color: #33b0ac;
    cursor: pointer;
}

/* --------FIN FORMULARIO------- */


.redes h2 {
    margin: 0;
    padding: 0;
}


.redes a {
    justify-content: center;
    height: 50px;
    width: 50px;
    display: flex;    
    margin: 50px 20px 70px 20px;
} 
.containerA{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    justify-items: center;
}
.redes a img{
    text-align: center;
    align-items: center;
    justify-items: center;
    height: 50px;
    border-radius: 9.5px;
    
}

.pie-pagina {
    width: 100%;
    text-align: left;
    background:#246d8c;
}
.derechos p{
    text-transform: uppercase;
    font-size: 20px;
    color: white;
    font-family: ralereg;
    font-weight: 600;
    padding: 10px;

}
@media (max-width: 1485px){
    span.animate__animated.animate__fadeIn:nth-child(1){
        margin-right: 0;
    }
    span{
        justify-content: right;
        display: flex;
    }
    .texto-principal{
        margin-top: 15%;
        
    }
}
@media (max-width: 1300px){
    
    .texto-principal{
        margin-top: 15%;
        
    }
}

@media (max-width: 1200px) {
    .logo, .texto-principal{
        margin-left: 20px;
    }
    
    nav ul{
        margin-right: 10px;
    }
    /* .container-fondo {
        justify-content: right;
        margin-right: 0;
    } */
    .texto-principal{
        margin-top: 20%;
        
    }
    
}

@media (max-width: 1050px) {
   
    
    .logo, .texto-principal{
        margin-left: 60px;
    }
   
    .container{
        z-index: 1;
    }
    .texto-principal{
        margin-top: 25%;
        
    }
    
    .texto-principal span{
        font-size: 47px;

    }
    .texto-principal p{
        font-size: 17px;

    }
    nav{
        /* position: fixed; */
        /* height: 150px; */
        background: rgb(255, 255, 255,0.5);
        box-shadow: 0 0 5px;
        z-index: 2;
    }
    nav .menu{
        display: flex;
    }
  
    nav .items{
        transition: ease-in-out 0.4s;
        position:absolute;
        left: -100%;
        margin: 0;
        padding: 80px 20px 80px 20px;
        top: 0;
        justify-content: center;
        background-color:rgb(126, 149, 151);
        /* background-color:rgba(27, 169, 176, 1); */
        overflow-y:scroll; 
        /* height: 100vh;  */
        width: 100%;
        z-index: 5;
    }

    .nav_input:checked + .items{
        left: 0;
        
    }
    

    nav .items ul{
        margin: 0;
    }
    
    nav .items ul li {
        display: flex;
        justify-content: center;
        line-height: 50px;
    }
    nav .items ul li::before{
        bottom: 0;
    
    }
   
    nav .items ul li a{
       
        height: 70px;
        /* font-size: 50px; */
        color: aliceblue;

    }

    nav .items ul li a:hover{
        /* color: aliceblue; */
        font-weight: 800;
    }
    nav .items ul li a:active {
        z-index: 0;
    }
    
    nav .menu:hover{
        cursor: pointer;
        box-shadow: 0px 0px 5px rgb(46, 255, 255);   
    }
    .texto p{
        font-size: 17px;
        padding: 2px;
        margin-top: 20px;
    }
    #contacto h2, #sucursales h2,#servicios h2,#quienessomos h2{
        font-size: 24px
    }
    .parrafo-protesis h3 {
        font-size: 18px;

    }
    .quienessomos a{
        display: none;
    }
    /* .container-img{
        width: 150px;
        height: 140px;
    } */
    .container-img{
        width: 180px;
        height: 160px;
    }
    
}  

@media (max-width: 795px) {
    form, .form_control{
        width: 400px;
    }
    
    .logo, .texto-principal{
        margin-left: 25px;
    }
    
    .logo{
        width: 100px;
        margin-top: 10px;  
        margin-bottom: 10px; 
    }
    nav.abajo .logo{
        width: 90px;
        margin-top: 10px;  
        margin-bottom: 10px;  
    }
    .texto-principal span{
        font-size: 45px;

    }
    .texto-principal p{
        font-size: 15px;

    }
    nav .menu{
        margin: 25px;
        padding: 15px;
        border-radius: 10px;
        width: 50px;
        height: 50px;
        
    }


    nav .items ul li a{
        font-size: 15px;
        text-align: center;

    }
   
    .fila1, .fila2{
        flex-direction: column;
        margin: auto;
    }
    
    .container-img{
        width: 180px;
        height: 160px;
    }
    .texto p{
        font-size: 15px;
        padding: 2px;
        margin-top: 20px;
    }
    .quienessomos a img{
        width: 60px;
    }
    #contacto h2, #sucursales h2,#servicios h2,#quienessomos h2{
        font-size: 22px
    }
    .parrafo-protesis h3 {
        font-size: 17px;

    }
    .texto-principal {
        margin-top: 30%;
    }
}
@media (max-width:619px){
    .texto-principal {
        margin-top: 40%;
    }
    .img-equipo{
        flex-direction: column;
    }
    
    .img-equipo:nth-child(odd){
        margin-right: 0
    }
    .img-equipo:nth-child(even){
        margin-left: 0;
    }
    nav .items{
        left: -100vw;
        width: 100vw;
    }
}
@media (max-width:476px) {
    .texto-principal {
        margin-top: 50%;
    }
    /* span:nth-child(2)::after{
        content: " ";
    } */
    form, .form_control{
        width: 400px;
    }
}
@media (max-width: 456px) {
    form, .form_control{
        width: 350px;
    }
    .container-img{
        width: 140px;
        height: 130px;
    }
    .texto-principal span{
        font-size: 42px;

    }
    .texto-principal p{
        font-size: 15px;
    
    }
    #contacto h2, #sucursales h2,#servicios h2,#quienessomos h2{
        font-size: 20px
    }
    .parrafo-protesis{
        padding-top: 0;
        padding-bottom: 80px;
    }
    .parrafo-protesis h3 {
        font-size: 17px;

    }
    .parrafo-protesis p {
        font-size: 14px;

    }
    nav .menu {
        width: 40px;
        height: 40px;
        padding: 14px;
    }
    
    
    .logo{
        width: 90px;
    }
   
    nav.abajo .logo{
        width: 80px;
        
    }
    /* .imagen-servicios img{
        width: 40%;
    } */
}

@media (max-width: 400px) {
    form, .form_control{
        width: 300px;
        
    }
    .imagen-fondo{
        background-position: calc(40%);
        padding-top: 120px;
    }
}
@media (max-width: 300px) {
    form, .form_control{
        width: 180px;
        
    }
    .container-img{
        width: 100px;
        height: 100px ;
    }
    .imagen-servicios{
        width: 150px;
        height: 170px;
    }
    
}