* {
    padding: 0;
    margin: 0;
    list-style: none;
    box-sizing: border-box;

}
/* :root{
    --sonrisa: url("imagenes/BLANQ2.jpg");
    
} */
body{
    width: 100%;
    /* background: linear-gradient(to left, #FFFFFF, #FFFFFF, #b2e7fd, #55C5F6) no-repeat; */
    background-color: #ddf9f9;
}

h2{
    color: #0b097c;
   
}

p{
    color: #200400;
}

@font-face {
    font-family: ralereg;
    src: url('fuentes/Raleway-Regular.ttf');
}

@font-face {
    font-family: bellezareg;
    src: url('fuentes/Belleza-Regular.ttf');
}

@font-face {
    font-family: rudareg;
    src: url('fuentes/Ruda-Regular.ttf');
}

@font-face {
    font-family: nunitoreg;
    src: url('fuentes/Nunito-Regular.ttf');
}

@font-face {
    font-family: monsereg;
    src: url('fuentes/Montserrat-Regular.ttf');
}

@font-face {
    font-family: latoreg;
    src: url('fuentes/Lato-Regular.ttf');
}

nav {
    background:rgba(39, 195, 203, 0.8);
    box-shadow: 0px 4px 10px rgba(1, 1, 1, 0.3);
    width: 100%;
    display: flex;
    justify-content: space-between; /*ubica las cajas del nav separadas de punta a punta!!!!*/
    align-items: center;
    position: fixed;
    z-index: 50;
    /* box-shadow: 0 0 5px; */
}
nav.abajo .logo{
    width: 120px;
    transition: linear 0.3s;

}
nav .menu{
    display: none;
    margin: 30px 60px 30px 30px;
    width: 60px;
    height: 60px; 
    padding: 22px;
    border-radius: 15px;
    /* background-color:rgb(85, 197, 246, 0.8);    */
    background-color: rgba(27, 169, 176, 0.6);
    /* box-shadow: 0px 0px 4px black;     */
}
.nav_input{
    display: none;
    
}
.logo {
    width: 165px;
    margin-left: 50px;
    
}


nav .items ul {
    margin: 0; 
    align-items: center;
}
nav .items ul li {
    display: inline-block;
    position: relative;

}
nav .items ul li::before{
    content: "";
    width: 0%;
    height: 1.5px;
    background-color:#0b097c;
    border-radius: 2px;
    position: absolute;
    bottom: -10px;
    transition: 0.5s linear;

}
nav .items ul li:hover::before{
    width: 100% ;
}
nav .items ul li a{
    border-radius: 10px;
    font-weight: bold;
    color: #ebf7f7e2;
    text-transform: uppercase;
    font-family: ralereg;
    font-size:15px;
    /* text-shadow: 0px 0px 5px #cbcfcf; */
    padding: 20px;
    text-align: center;
    align-items: center;
    transition: linear 0.5s;

}

nav .items li a:hover{
    color: white;
    text-decoration:none;
}

.container-fondo {
    background:  url("imagenes/probando.png") no-repeat;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    width: 100%;
    box-shadow: 0px 0px 5px;
    height: 100vh;
    transition: 0.5s;
}

.texto-principal {
    width: 90%; 
    margin-left: 50px ;
    /* padding-top: 50px; */
    margin-top: 280px;
}
.texto-principal span{ 
    font-size: 60px;
    font-family: nunitoreg;
    color: rgb(234, 243, 242);
    background:rgba(27, 169, 176, 0.6);
    /* background:rgb(10, 186, 128, 0.6); */
    font-weight: 600;
    padding: 0 10px 0 10px;
}

.texto-principal p {
    /* margin-top: 20px; */
    font-size: 20px;
    font-family: monsereg;  
    padding: 30px 0 60px 0;

}

.animate__animated.animate__fadeIn{
    animation-duration: 1.5s;
}
.animate__animated.animate__fadeIn:nth-child(1){
    animation-delay: 0.3s;
}
.animate__animated.animate__fadeIn:nth-child(2){
    animation-delay: 0.7s;

}.animate__animated.animate__fadeIn:nth-child(3){
    animation-delay: 1.5s;
}
/* .animate__animated.animate__fadeIn:nth-child(4){
    animation-delay: 1.9s;
} */
.quienessomos{
    width: 100%;
    margin: auto;
    text-align: center;
    /* position: relative; */
    /* padding-top: 20px; */
}


.sticky {
    background: url("imagenes/flecha2.png") no-repeat;
    background-position: center;
    background-size: cover;
    background-color: #a2e2e2;
    border-radius: 3px;
    box-shadow: 0 0 3px #07d6f6;
    margin-left: 85%;
    position: fixed;
    margin: 40px;
    bottom: 0;
    right: 0;
    width: 40px;
    height: 40px;
    z-index: 60;
}
.sticky:hover{
    box-shadow: 0 0 3px #000000;

}

.somosDentalCare h2 {
    text-transform: uppercase;
    font-size: 30px;
    font-family: latoreg;
    font-weight: 600;
    padding-top: 40px; 
    padding-bottom: 20px;
    
}


.img-equipo {
    align-items: center;
    display: flex;
    /* align-content: center; */
    margin-top: 2% 0%;
    /* margin-bottom: 2%; */
    /* box-shadow: 0px 0px 5px;     */
    background:rgba(27, 169, 176, 0.3);

    /* border: rgba(27, 169, 176); */
    
}
.img-equipo:nth-child(odd){
    margin-right: 15%;
    background: linear-gradient(to right, rgba(27, 169, 176, 0.5), transparent);

}
.img-equipo:nth-child(even){
    margin-left: 15%;
    background: linear-gradient(to left, rgba(27, 169, 176, 0.5), transparent);

}
/* .img-equipo:nth-child(3){
    margin-right: 15%;
    background: linear-gradient(to right, rgba(27, 169, 176, 0.5), transparent);

} */
/* .img-equipo:nth-child(4){
    margin-left: 15%;
    background: linear-gradient(to left, rgba(27, 169, 176, 0.5), transparent);

} */

.img-equipo img {
    width: 35%;
    box-shadow: 0px 0px 10px ;  
    margin: 30px; 
}

.texto {
    margin-left: 10%;
    text-align: left;
    margin-right: 5%;    

}
    
    
.texto p { 
    font-family: monsereg;
    font-size: 20px;
}

.pagina-2{
    text-align: center;
    width: 100%;
    
}
.pagina-2 h2 {
    text-transform: uppercase;
    font-size: 30px;
    font-family: latoreg;
    font-weight: 600;
    padding-top: 2%;
    align-items: center;
    text-align: center;
    margin-bottom: 30px;
    margin-top: 30px;

}

.parrafo-protesis{
    font-family: ralereg;
    color: #0b097c;
    font-weight: 600;
    align-items: center;
    text-align:center;
    text-transform: uppercase;
}
.parrafo-protesis h3{
    font-size: 20px;
    padding-bottom: 20px;
}

.parrafo-protesis p{
    font-size: 15px;
    margin-bottom: 0px;
    color: #0b097c;
}
.contenedor-columnas{
    display: flex;
    flex-direction: column;
    max-width: 1000px;
    margin: auto;
}
.fila1, .fila2{
    justify-content: space-around; 
    display: flex;    
    margin-top: 50px;
}
.imagen-servicios{
    width: 250px;
    height: 220px;
    padding-top:10px ;
}
.container-img{
    margin: auto;
    width: 150px;
    height: 140px;
    border-radius: 10%;
    box-shadow: 0 0 15px#165dc9;
    transition: linear 0.5s;
    position: relative;
    overflow: hidden;
}
.container-img::before{ 
    content: "";
    height: 0;
    width: 100%;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.6);
    bottom: 0;
    left: 0;
    transition: linear 0.5s;
}
.container-img:hover::before{
    height: 40%;
    content: "+info";
    padding-top: 10px;
    font-weight: 600;
    overflow: hidden;

}

/* SERVICIOS FILA 1 */

.fila1 .imagen-servicios:nth-child(1) .container-img{
    background: url("iconos_servicios/sonrisa.png") no-repeat;
    background-size: cover;
    background-position: center;
    
}

.fila1 .imagen-servicios:nth-child(1) .container-img:hover{
    background: url("imagenes/BLANQ2.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    cursor: pointer;
}
.fila1 .imagen-servicios:nth-child(2) .container-img{
    background: url("iconos_servicios/implantologia.png") no-repeat;
    background-size: cover;
    background-position: center;
}
.fila1 .imagen-servicios:nth-child(2) .container-img:hover{
    background: url("imagenes/implantes.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    cursor: pointer;
}
.fila1 .imagen-servicios:nth-child(3) .container-img{
    background: url("iconos_servicios/ortodoncia.png") no-repeat;
    background-size: cover;
    background-position: center;
}
.fila1 .imagen-servicios:nth-child(3) .container-img:hover{
    background: url("imagenes/ortodoncia2.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    cursor: pointer;
}

/* SERVICIOS FILA 2 */

.fila2 .imagen-servicios:nth-child(1) .container-img{
    background: url("iconos_servicios/blanqueamiento.png") no-repeat;
    background-size: cover;
    background-position: center;
}
.fila2 .imagen-servicios:nth-child(1) .container-img:hover{
    background: url("imagenes/antesdespues.png") no-repeat;
    background-size: cover;
    background-position: center;
    cursor: pointer;
}
.fila2 .imagen-servicios:nth-child(2) .container-img{
    background: url("iconos_servicios/endodoncia.png") no-repeat;
    background-size: cover;
    background-position: center;
}
.fila2 .imagen-servicios:nth-child(2) .container-img:hover{
    background: url("imagenes/endodoncia1.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    cursor: pointer;
}
.fila2 .imagen-servicios:nth-child(3) .container-img{
    background: url("iconos_servicios/ortopantomografia.png") no-repeat;
    background-size: cover;
    background-position: center;
}
.fila2 .imagen-servicios:nth-child(3) .container-img:hover{
    background: url("imagenes/radiografia-dental.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    cursor: pointer;
}


.imagen-servicios p{
font-family: latoreg;
color: #0b097c;
font-size: 15px;
text-align: center;
font-weight: 600;
padding-top: 5px;

}
.formulario {
    width: 100%;
}

.formulario h2 {
    text-transform: uppercase;
    font-size: 30px;
    font-family: latoreg;
    font-weight: 600;
    padding-top: 30px;
    align-items: center;
    text-align: center;
    margin: 0;
}


.sucursales {  
    width: 100%;
    margin: auto;
    text-align: center;
}
.sucursales h2{
    padding-top: 20px;
    margin-bottom: 30px;
    text-transform: uppercase;
    font-size: 30px;
    font-family: latoreg;
    font-weight: 600;
}

.container-all{
    position: relative;
    max-width: 1000px;
    width: 100%;
    border-radius: 6px;
    overflow: hidden;
    margin: auto;

}
.container-all img{
    max-width: 100%;

}
.slide{
    display: flex;
    transform: translate3d(0,0,0);
    transition: all 600ms;
    animation-name: autoplay;
    animation-duration: 10s;
    animation-direction: alternate;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
}

.item-slide{
    position: relative;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    flex-grow: 0;
    max-width: 100%;

}

.pagination{
    position: absolute;
    bottom: 20px;
    left: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;


}

.pagination-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid white;
    width: 16px;
    height: 16px;
    border-radius: 4px;
    overflow: hidden;
    cursor: pointer;
    background: rgba(255, 255, 255, 0.5);
    margin: 0 10px;
    text-align: center;
    transition: all 300ms;

}

.pagination-item:hover{
    transform: scale(2);
}
.pagination-item img{
    display: inline-block;
    max-width: none;
    height: 100%;
    transform: scale(1);
    opacity: 0;
    transition: all 300ms;

}
.pagination-item:hover img{
    opacity: 1;
    transform: scale(1);
}

input[id="1"]:checked ~ .slide{
    animation: none;
    transform: translate3d(0, 0, 0);

}
input[id="1"]:checked ~ .pagination .pagination-item[for="1"]{
    background: #fff;
}

input[id="2"]:checked ~ .slide{
    animation: none;
    transform: translate3d(calc(-100% * 1), 0, 0);

}
input[id="2"]:checked ~ .pagination .pagination-item[for="2"]{
    background: #fff;
}

input[id="3"]:checked ~ .slide{
    animation: none;
    transform: translate3d(calc(-100% * 2), 0, 0);

}
input[id="3"]:checked ~ .pagination .pagination-item[for="3"]{
    background: #fff;
}

input[id="4"]:checked ~ .slide{
    animation: none;
    transform: translate3d(calc(-100% * 3), 0, 0);

}
input[id="4"]:checked ~ .pagination .pagination-item[for="4"]{
    background: #fff;
}


@keyframes autoplay {
    25%{
        transform: translate3d(calc(-100% * 0), 0, 0);
    }

    50%{
        transform: translate3d(calc(-100% * 1), 0, 0);
    }
    
    75%{
        transform: translate3d(calc(-100% * 2), 0, 0);
    
    }

    100%{
        transform: translate3d(calc(-100% * 3), 0, 0);

    }
}
/* .slider-frame {
    width: 80%;
    margin: auto;
    overflow: hidden;

}

.slider-frame ul {
    display: flex;
    padding: 0;
    width: 400%;
    animation: slide 16s infinite alternate linear;
    margin-bottom: 2%;
    
}

@keyframes slide {

    0% {
        margin-left: 0%;
    }

    20% {
        margin-left: 0%;
    }

    25% {
        margin-left: -100%;
    }

    45% {
        margin-left: -100%;
    }

    50% {
        margin-left: -200%;
    }

    70% {
        margin-left: -200%;
    }

    75% {
        margin-left: -300%;
    }

    100% {
        margin-left: -300%;
    }
} */

.mapa {
    width: 100%;

}

.mapa h2 {
    text-transform: uppercase;
    font-size: 30px;
    font-family: latoreg;
    color: #0b097c;
    font-weight: 600;
    margin-top: 5%;
    margin-bottom: 1%;
    align-items: center;
    text-align: center;
}
.mapa iframe {
    width: 100%;
    padding: 40px 0;

}

.slider-frame li {
    list-style: none;
    width: 100%;
}

.slider-frame img {
    width: 100%;

}


.parrafo-protesis {
    margin: auto;
    padding: 50px 5px 50px 5px;
    
}

.parrafo-protesis h3 {
    text-transform: uppercase;
    font-size: 20px;
    font-family: ralereg;
    color: #0b097c;
    font-weight: 600;
    align-items: center;
    text-align: center;
    padding-bottom: 10px;
}


.redes {
    font-weight: 600;
    padding: 5%;
    align-items: center;
    text-align: center;
}

.redes h2 {
    padding-bottom: 50px;

}

.redes a {
    margin: 15px;    
} 
.redes a img {
    height: 50px;
    border-radius: 9.5px;

} 

.pie-pagina {
    width: 100%;
    text-align: left;
    background:#246d8c;
}
.derechos p{
    text-transform: uppercase;
    font-size: 20px;
    color: white;
    font-family: ralereg;
    font-weight: 600;
    padding: 10px;

}

@media (max-width: 1200px) {
    .logo, .texto-principal{
        margin-left: 20px;
    }
    .logo{
        width: 140px;
    }
    nav ul{
        margin-right: 10px;
    }
    .container-fondo{
        height: 100%;
    }
}

@media (max-width: 1050px) {
    .logo{
        width: 120px;
    }
    
    .logo, .texto-principal{
        margin-left: 60px;
    }
   
    .container{
        z-index: 1;
    }
    .texto-principal{
        margin-top: 300px;
        
    }
    .texto-principal span{
        font-size: 47px;

    }
    .texto-principal p{
        font-size: 17px;

    }
    nav{
        position: fixed;
        /* height: 150px; */
        background: rgb(255, 255, 255,0.5);
        box-shadow: 0 0 5px;
        z-index: 2;
    }
    nav .menu{
        display: flex;
    }
    nav .items{
        display: none;
        position:absolute;
        left: 0;
        margin: 0;
        /* padding-top: 100px; */
        padding: 80px 20px 80px 20px;
        top: 0;
        justify-content: center;
        background-color:rgba(27, 169, 176, 0.8);
        overflow-y:scroll; 
        height: 100vh; 
        width: 55%;
        /* border-right: solid 1px #14e6f1; */
        animation-name: moveIn;
        -webkit-animation-name: moveIn;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
        -webkit-animation-duration: 0.5s;
        animation-duration: 0.5s;
    }

    @keyframes moveIn {
        from {
            opacity: 0;
            -webkit-transform: translate3d(-100%, 0, 0);
            transform: translate3d(-100%, 0, 0);
        }
        to {
            opacity: 1;
            -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
        }
    } 

     
    .nav_input:checked + .items{
        display: flex;
        
    }
    


    nav .items ul{
        margin: 0;
    }
    
    nav .items ul li {
        display: flex;
        justify-content: center;

    }
    
    nav .items ul li a{
        padding: 20px;
        font-size: 20px;
    }

    nav .items ul li a:hover{
        color: aliceblue;
        font-weight: 800;
    }
    nav .items ul li a:active {
        z-index: 0;
    }
    
    nav .menu:hover{
        cursor: pointer;
        box-shadow: 0px 0px 5px rgb(46, 255, 255);   
    }
    .texto p{
        font-size: 17px;
        padding: 2px;
        margin-top: 20px;
    }
    #contacto h2, #sucursales h2,#servicios h2,#quienessomos h2{
        font-size: 24px
    }
    .parrafo-protesis h3 {
        font-size: 18px;

    }
    .quienessomos a{
        display: none;
    }
    
}  

@media (max-width: 795px) {
    
    .logo, .texto-principal{
        margin-left: 25px;
    }
    
    .logo{
        width: 100px;
        margin-top: 10px;  
        margin-bottom: 10px; 
    }
    nav.abajo .logo{
        width: 90px;
        margin-top: 10px;  
        margin-bottom: 10px;  
    }
    .texto-principal span{
        font-size: 45px;

    }
    .texto-principal p{
        font-size: 15px;

    }
    nav .menu{
        margin: 25px;
        padding: 15px;
        border-radius: 10px;
        width: 50px;
        height: 50px;
        
    }


    nav .items ul li a{
        font-size: 15px;
        text-align: center;

    }
   
    .fila1, .fila2{
        flex-direction: column;
        margin: auto;
    }
    .img-equipo{
        flex-direction: column;

    }
    .img-equipo img{
        width: 60%;
        
    }
    .texto p{
        font-size: 15px;
        padding: 2px;
        margin-top: 20px;
    }
    .quienessomos a img{
        width: 60px;
    }
    #contacto h2, #sucursales h2,#servicios h2,#quienessomos h2{
        font-size: 22px
    }
    .parrafo-protesis h3 {
        font-size: 17px;

    }
}
@media (max-width: 456px) {
    
    .container-img{
        width: 120px;
        height: 110px;
    }
    .texto-principal span{
        font-size: 42px;

    }
    .texto-principal p{
        font-size: 15px;
    
    }
    #contacto h2, #sucursales h2,#servicios h2,#quienessomos h2{
        font-size: 20px
    }
    .parrafo-protesis h3 {
        font-size: 16px;

    }
    .parrafo-protesis p {
        font-size: 13px;

    }
    nav .menu {
        width: 40px;
        height: 40px;
        padding: 14px;
    }
    
    
    .logo{
        width: 90px;
    }
   
    nav.abajo .logo{
        width: 80px;
        /* margin-top: 20px;  
        margin-bottom: 20px;   */
    }
    .imagen-servicios img{
        width: 40%;
    }
}

