@import '../layout/slider';

#Me{
    
    z-index: 1;
    width: 100%;
    padding-top: 80px;
    @include mixinsfunc.flex-box;
    flex-direction: column;
}
.containerMe{
    // box-shadow: $box-shadow-dark;
    border-radius: 50px;
    // background: rgba(214, 14, 228, 0.1);
    max-width: 100%;
    @include mixinsfunc.flex-box;
    flex-direction: column;
    
    h1{
    padding-top: 40px;
    padding-bottom: 60px;
    // margin-bottom: 40px;
    font-size: $size-h1;
    text-align: center;
    color: $color-texto;
    font-family: $font-gral;
    line-height: 35px;

    }

}

// .avatar_movil{
//     display: none;
// }

.avatar{
    width: 170px;
    height: 170px;
    // filter: drop-shadow(0 0 50px $color-lineas);
    animation: flotar 6s ease-in-out infinite;
    @include mixinsfunc.flex-box;
    // margin-top: 45px;
    // margin-left: 120px;
    background-image: $color-background-avatar;
    transform: rotate(45deg);
    border-radius: 50%;
    overflow: hidden;
    &::before{
        content: "";
        display: block;
        width: 160px;
        height: 160px;
        border-radius: 50%;
        position: absolute;
        background: url('../imagen/Mi_Avatar.png') no-repeat;
        overflow: hidden;
        background-size: cover;
        background-position: center;
        // transform: rotate(-45deg);
        // border: $borde-avatar;
    }
    
}
@keyframes flotar {
    0% {
        box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
        transform: translatey(0px);
    }
    50% {
        box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
        transform: translatey(-20px);
    }
    100% {
        box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
        transform: translatey(0px);
    }
}

.descripcionPersonal {
    p{
        font-size: 20px;
    }
    padding: 60px;
    @include mixinsfunc.flex-box(center,none);

    .texto{
        max-width: 700px;
        color: $color-texto;
        font-family: $font-gral;
        line-height: 35px;
        text-align: center;
    
    }
}

.container-skills {
    padding-bottom: 150px;
    width: 100%;
    @include mixinsfunc.flex-box;
    flex-direction: column;
    h1{
        padding-bottom: 50px;
        font-size: $size-h1;
        font-family: $font-gral;
        color: $color-texto;
    }
}
