
#Proyects{
    width: 100%;
    padding-top: 80px;

}

.container-proyectos{
    // margin: 100px 0;
    @include mixinsfunc.flex-box;
    flex-direction: column;
    // position: relative;
    
    h1{
        padding-top: 40px;
        font-size: $size-h1;
        font-family: $font-gral;
        color: $color-texto;
    }
   
}
.proyectos{
    margin-top: 50px;
    transform-style: preserve-3d;
        @include mixinsfunc.flex-box;
         img{
             width: 100%;
             height: 100%;
            //  border-radius: 30px;
             object-fit: cover;
             -o-object-fit: cover;
                
         }
}
