*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    
}
/* VARIABLES */
:root{
    --font-specific: 'Lilita One', cursive;
    --font-gral:'Josefin Sans', sans-serif;
    --font-nav:'Belanosima', sans-serif;
    --color-lineas:rgb(220, 24, 255);
    --color-ppal:rgb(245, 52, 255);
    --color-texto: rgb(255, 251, 254);
    --color-nav:transparent;
    --color-font-nav:rgb(169, 165, 169);
    --color-borde-avatar: none;
    --borde-avatar: solid 8px rgb(188, 41, 196);
    /* --color-borde-avatar: rgb(188, 41, 196); */
    --color_dark:rgb(51, 43, 60);
    --color_white: #f7f1f6;
    --color-nav-white:rgb(104, 44, 84);
    --color-nav-white-a: rgb(252, 215, 246);
    --size-h1: 35px;

}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color_dark);
    transition: 0.3s ease all;
    /* transition-delay: 1s; */
}

/* --------------------------  body white  ---------------------------------*/
.white{
    background-color: var(--color_white);
    transition: 0.3s ease all;
    /* transition-delay: 1s; */
}

body.white nav{
    background-color: var(--color-nav-white);
    /* transition-delay: 1s; */

} 
body.white nav ul li a {
    color: var(--color-nav-white-a);
    /* transition-delay: 1s; */

}

body.white nav ul li a:hover{
    color: rgb(255, 255, 255);
    transition: linear 0.3s;
}
body.white nav ul li a:before{
    background: linear-gradient(to right, var(--color_white), transparent);
    height: 2px;

}

body.white::-webkit-scrollbar-track {
    background: var(--color-nav-white-a);        /* color of the tracking area */

}

body.white::-webkit-scrollbar-thumb {
    background-color: var(--color-nav-white);    /* color of the scroll thumb */
}

body.white .descripcionPersonal {
    color: var(--color-nav-white);
    font-family: var(--font-gral);
    padding: 0 50px 0 50px;
    /* transition-delay: 1s; */

}

body.white .btn{
    color: var(--color-nav-white);
    border: solid 1px var(--color-lineas);
    /* transition-delay: 1s; */

}
body.white .btn:hover{
    color: #fff;

}
body.white .btn::before{
    background: var(--color-nav-white);
    /* transition-delay: 1s; */

}

/* ------------------       body white end        -------------------- */



body::-webkit-scrollbar {
    width: 8px;               /* width of the entire scrollbar */
  }
  
  body::-webkit-scrollbar-track {
    background: #000;        /* color of the tracking area */
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: #4b4a4ac8;    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
  }


.div{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
}

nav{
    height: 80px;
    display: flex;
    width: 100%;
    /* flex-direction: baseline; */
    justify-content: space-between;
    
    align-items: center;
    background-color: var(--color-nav);
    /* padding: 10px 0 10px 0; */
    position: fixed;
    z-index: 10;
}
nav .logo{
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 11;

}
nav .logo p {
    color: var(--color-font-nav);
    font-family: var(--font-gral); 
    font-size: x-large;
    padding-left: 150px;
    font-weight: 500;
    cursor:context-menu;
}
nav ul{
    display: flex;
    gap: 60px;
    align-items: center;
    justify-content: center;
    padding-right: 150px;
    height: 100%;
}
nav ul li{
    display: inline-block;
    position: relative;
    height: 100%;
    
}
nav ul li a {
    text-decoration: none;
    align-items: center;
    height: 100%;
    display: flex;
    color: var(--color-font-nav);
    font-family: var(--font-nav);
    
    font-size: large;
}

nav ul li a:hover{
    color: rgb(204, 201, 204);
    /* color: rgb(179, 174, 179); */
    transition: linear 0.3s;
}

nav ul li a:before{
    content: '';
    /* background-color: white; */
    /* background-color: var(--color-lineas); */
    background-color: var(--color-ppal);
    width: 100%;
    height: 0px;
    bottom: 0px;
    /* border-radius: 2px; */
    position: absolute;
    transition: linear 0.3s;
    

}
nav ul li a:hover::before{
    height: 3px;

}

.colorNav{
    background-color: rgb(51, 43, 60) ;
    transition: linear 300ms;
}

#Home{
    display: flex;
    /* cursor: none; */
    background:  linear-gradient( rgba(0,0,0,0.7), rgba(0,0,0, 0.7)) , url('./imagen//blake-connally-IKUYGCFmfw4-unsplash.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    animation: img-move 30s linear infinite alternate;
    cursor: context-menu;
    height: 100vh;
}
@keyframes img-move {
    from{
        background-position: bottom left;
    }to{
        background-position: top right;
    }
}
.containerHome{
    display: flex;
    width: 100%;
    height: 100vh;
   
    
}
.img-texto{
    display: flex;
    margin: 0;
    align-items: center;
    

}
.containerHome .texto .guion{
    animation: guion ease-in-out 0.8s infinite;
}
@keyframes guion {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
.containerHome .texto {
    /* padding-left: 100px; */
    top: 80px;
    margin: auto;
    color: var(--color-texto);
    font-family: var(--font-gral);
    font-size: large;
}
.containerHome .texto h2{
    color: var(--color-ppal);
    font-family: var(--font-gral);
    font-size: 50px ;

}

/* .container_3d{
    perspective: 1000px;
    perspective-origin: 0px -150px;
} */
.img{
    position: relative;
    width: 150px;
    height: 150px;
    /* display: flex; */
    transform-style: preserve-3d;
    animation: girar 10s infinite  linear;
    

}


@keyframes girar {
    from{
        transform: rotateY(0deg);

    }
    to{
        transform: rotateY(360deg);
    }
    
}

.borde-left, .borde-right{
    display: flex;
    width: 300px;
    height: 2px;
    margin: auto;
    border-radius: 50%;
}
.borde-left{
    background: linear-gradient(to left, var(--color-lineas), transparent);

}
.borde-right{
    background: linear-gradient(to right, var(--color-lineas), transparent);

}


/* --------------------------ACERCA DE MI-------------------------- */

#Me{
    display: flex;
    width: 100%;
    /* height: 100vh; */
    padding-top: 80px;
    /* background-color: #000; */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* position: relative; */
   /* margin-top: 200px; */
}

.btn2 {
    /* margin-top: 20px; */
    border: solid 1px #fff;
    position: relative;
    display: flex;
    /* width: 20px; */
    border-radius: 50px;
    background: #333333;
    outline: none;
    cursor: pointer;
}
.btn2 span{
    background: none;
    width: 22px;
    height: 22px;
    line-height: 22px;
    display: block;
    color: #fff;
}
.btn2::after {
    content: "";
    display: block;
    width: 22px;
    height: 22px;
    position: absolute;
    top: 0;
    left: 0;
    right: unset;   
    background: #f1f1f1;
    border-radius: 50%;
    transition: .3s ease all;
    box-shadow: 0 0 2px 2px rgba(0,0,0, 0.2) ;
}
.active{
    background: var(--color-lineas);
    color: #000;
}
.active::after{
    left: unset;
    right: 0;  
}

@keyframes temaI {
    
    50%{
        border-right: 2px solid white;
        width: 50%;

    }
    100%{
        width: 0%;

    }
}

@keyframes temaD {
    50%{
        border-left: 2px solid white;
        width: 50%;

    }
    100%{
        width: 0%;

    }
}
.containerMe{
    max-width: 100%;
    /* height: 100vh; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* overflow: hidden; */
    /* border: rgb(245, 52, 255) solid 1px; */

}
.containerMe h1{
    /* padding: 60px 0; */
    padding-top: 40px;
    padding-bottom: 60px;
    font-size: var(--size-h1);
    text-align: center;
    color: var(--color-texto);
    font-family: var(--font-gral);
    line-height: 35px;
}
.avatar_movil{
    display: none;


}

.avatar{
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-top: 60px; */
    margin-left: 50px;
    /* border: solid 2px yellow; */
    /* padding-left: 50px; */
}
.avatar img{
    border-radius: 50%;
    /* border: solid 8px var(--color-borde-avatar); */
    border: var(--borde-avatar);
    overflow: hidden;
}
.descripcionPersonal {
    /* border: solid 1px yellow; */
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    margin: 0 100px ;
}
.descripcionPersonal .texto{
    color: var(--color-texto);
    font-family: var(--font-gral);
    line-height: 35px;
    max-width: 700px;
}

.descripcionPersonal p{
    font-size: 27px;

}
.container-iconsT {
    padding-top: 150px ;
    padding-bottom: 150px;
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* margin: auto; */
}
.container-iconsT h1{
    padding-bottom: 100px;
    font-size: var(--size-h1);
    font-family: var(--font-gral);
    color: var(--color-texto);
    /* font-size: large; */
}
.container-icons{

    width: 60%;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    gap: 40px;
    align-items: center;
    overflow: hidden;
    position: relative;
    /* border: solid 1px white; */
}

.container-icons::before{
    content: "";
    position: absolute;
    left: 0;
    display: flex;
    bottom: -5px;
    width: 100%;
    height: 10px;
    background: radial-gradient(circle, var(--color-lineas)  0%, transparent 100%);
}

.container-icons .icon {
    height: 70px;
    /* width: 100px; */
    animation: scroll 5s ease-in-out infinite alternate;
    -webkit-animation: scroll 5s ease-in-out infinite alternate;

}

.icon img{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    /* width: 100%; */
    /* height: 80px; */
    height: 100%;
    border-radius: 10px;

}

.container-icons .icon img:hover{
    transition: 0.3s  linear;
    transform: translateY(-15px);
    /* animation: hover 0.2s linear alternate; */
}

@keyframes scroll {
    0%{
        transform: translatex(0);
        -webkit-transform: translateX(0);
    }
    
    100%{
        transform: translateX(calc(-70px * 3.1));
        -webkit-transform: translateX(-70px * 3.1);
    }
    
}

/* ---------- CONTACTO ----------- */
.containerContact{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: #736584; */
    background-color: #65517c;

}

.containerContact h1{
    padding: 50px 0;
    color: var(--color-texto);
    font-family: var(--font-gral);
    font-size: var(--size-h1);
    
}

.containerContact .icons{
    display: flex;
    gap: 50px;
    justify-content: space-between;
    padding-bottom: 50px;
    /* max-width: 800px; */

}
.contenedor-a{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 120px;
}    
.containerContact .icons a{
    text-decoration: none;
    color: #f1f1f1;
    line-height: 40px;
    font-family: var(--font-gral);
    font-size: 20px;
    color: var(--color-font-nav);
}
.containerContact .icons a:hover{
    color: var(--color-lineas);
}


@media (max-width:1197px) {
  
    nav .logo p {
        font-size: xx-large;
        padding-left: 50px;
        
    }
    nav ul{
        padding-right: 50px;
        
    }
   
    nav ul li a {
        
        font-size: x-large;
    }
    .texto h1{
        font-size: 45px;

    }
    .texto h2{
        font-size: 45px;
    }
}
/* @media (max-width:1090px){
    nav{
        background-color: antiquewhite;

    }
} */

@media (max-width:1090px){
    #Me{
        margin-top: 250px;
    }
    .avatar_movil{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 30px 0 90px 0;
        /* padding: 30px 0 90px 0; */
    }
    .avatar_movil img{
        border-radius: 50%;
        border: var(--borde-avatar);
        overflow: hidden;
    }

    .avatar{
        display: none;
    }
    .descripcionPersonal{
        position: relative;
        margin: 0;
        padding: 0 30px;
        flex-direction: column;
        text-align: justify;
    }
    .containerMe h1 {
        font-size: xx-large;
    }
  
    /* ----------------------------------------------- */
    nav{
        background-color: rgb(51, 43, 60);
    }
    nav ul{
        display: none;
        padding-right: 0;
        overflow-y:scroll; 

    }
    nav .logo{
        margin-left: 50px;
    }
    nav .logo p{
        padding-left: 0;
    }
    nav .menu{
        margin-right: 50px;
        width: 30px;
        height: 30px;
        cursor: pointer;
        z-index: 11;
    }

    nav .menu span{
        display: block;
        width: 100%;
        height: 2px;
        background-color: var(--color-font-nav);
        margin-top: 6px;
        transform-origin: 0px 100%;
        transition: all 300ms;
    }

    .activeline1__menu{
        transform: rotate(45deg) translate(-2px,1px);
    }
    .activeline2__menu{
        opacity: 0;
        margin-left: -30px;
    }
    .activeline3__menu{
        transform: rotate(-45deg) translate(-4px,2px);
    }

    nav ul li a:before{
        bottom: -20px;
    }
      
    .items_menu{
        width: 100%;
        height: auto;
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
        top: 80px;
        position: absolute;
        background-color: rgb(51, 43, 60);
        padding-bottom: 70px;
        padding-top: 20px;
        animation: desplazamiento 500ms;
        /* overflow-y: scroll; */
    }
    .items_menu a{
        font-size: xx-large;
    }
    @keyframes desplazamiento {
        from{
            top: -80px;
            /* opacity: 0; */
        }
        
        to{
            /* opacity: 1; */
            top: 80px;
        }
    }
    .containerContact .icons{
        /* border: solid 2px yellow; */
        gap: 0;
    }
}

@media (max-width:300px){
    
    nav .logo{
        margin-left: 20px;
    }
    nav .logo p{
        font-size: large;
    }
    nav .menu{
        margin-right: 20px;
    }
   
}