
.container-slider{
    max-width: 800px;
    // height: 1000px;
    // border: 2px solid white;
    margin: auto;
    // @include mixinsfunc.flex-box;
    padding: 30px 10px;
    // overflow-x: scroll;

    .container{
        width: 100%;
        height: 100%;

        
    }
}
.slider {
    // position: absolute;
    gap: 100px;
    @include mixinsfunc.flex-box;
    flex-wrap: wrap;
    padding: 0 30px;
    .img{
        width: 70px;
        transition: linear 0.3s;
        cursor: pointer;

        @include mixinsfunc.flex-box;
        &:hover{
            // position: absolute;
            animation: vibrar 2s ease-in-out;
            filter: drop-shadow(0 0 10px $color-lineas);
        }
        img{
            width: 100%;
            // height: 100%;
            border-radius: 10px;

        }
    }
}
@keyframes vibrar {

    0%{
        // transform: ;
    } 
    7%{
         transform: rotateZ(0) translateY(-20px);

    }
    15% {
      transform: rotateZ(15deg);
    }
    20% {
      transform: rotateZ(10deg);
    }
    25% {
      transform: rotateZ(-10deg);
    }
    30% {
      transform: rotateZ(6deg);
    }
    35% {
      transform: rotateZ(-4deg);
    }
    40%, 100% {
         transform: rotateZ(0);
    }
        
}
input[type=radio]{
    display: none;
}

.slides{
    position: relative;
    width: 150px;
    height: 150px;

}
.slide{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    margin: auto;
    cursor: pointer;
    transition: transform 0.4s cubic-bezier(0.165, 0.84,0.44,1);
    
}


#item-2:checked ~ .slides #selector-1,
#item-1:checked ~ .slides #selector-3,
#item-3:checked ~ .slides #selector-2{
    transform: translateX(-60%) scale(0.6);
    z-index: 0;
    opacity: 0.6;
}

#item-2:checked ~ .slides #selector-3,
#item-3:checked ~ .slides #selector-1,
#item-1:checked ~ .slides #selector-2{
    transform: translateX(60%) scale(0.6);
    z-index: 0;
    opacity: 0.6;
}
#item-1:checked ~ .slides #selector-1,
#item-2:checked ~ .slides #selector-2,
#item-3:checked ~ .slides #selector-3{
    transform: translateX(0) scale(1);
    z-index: 1;
}

